/** Mobile-First Workflow **/
/*? Open Sans */
/*! Body, Call-to-actions */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/*? Poppins */
/*! Headings */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
/*? START global */
* {
    box-sizing: border-box;
    transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s,
        border-color ease-in-out 0.2s;
    -webkit-transition: background-color ease-in-out 0.2s,
        color ease-in-out 0.2s, border-color ease-in-out 0.2s;
    -moz-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s,
        border-color ease-in-out 0.2s;
    -ms-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s,
        border-color ease-in-out 0.2s;
    -o-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s,
        border-color ease-in-out 0.2s;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 18px;

    /* ## Colors */
    /* ### Primary */
    --Pink: hsl(322, 100%, 66%);
    /* ### Neutral */
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

.img img,
figure img {
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    line-height: 1.5;
}

a button,
main section {
    border: none;
    box-shadow: 0 0 20px 0 #d0d0d0;
}

a button:hover {
    cursor: pointer;
}

button {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

main section,
main .popup {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
/*? END global */

/*! START header */
header {
    padding: 20px;
    background-image: url(../images/bg-hero-mobile.svg);
    background-color: var(--Very-Pale-Cyan);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 75px;
}

/** START nav */
header nav {
    margin: 30px auto 80px;
    padding: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header nav .img {
    max-width: 40%;
}

header nav a button {
    background-color: white;
    font-size: 0.65rem;
    font-weight: bold;
    padding: 8px 30px;
}
/** END nav */
/*? START landing */
header .landing {
    padding: 0 3% 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

header .landing .txt {
    line-height: 1.5;
    text-align: center;
    max-width: 520px;
}

header .landing .txt a button {
    font-size: 0.8rem;
    margin-top: 15px;
    margin-bottom: 70px;
    background-color: var(--Pink, pink);
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    width: 80%;
}

header .landing .txt a button:hover {
    background-color: hsla(322, 100%, 66%, 75%);
}

@media (min-width: 900px) {
    header .landing {
        flex-wrap: nowrap;
        gap: 50px;
        justify-content: space-between;
    }

    header .landing .txt {
        text-align: left;
    }

    header .landing .img {
        min-width: 50%;
    }
}
/*? END landing */
/*! END header */

/*? START main */
main {
    position: relative;
    z-index: 10;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 50px;
}
/** START sections */
main section {
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
}

main section figcaption p {
    color: var(--Grayish-Blue, grey);
    padding: 10px 20px;
}
/** END sections */

/*! START popup */
main .popup {
    position: relative;
    top: 200px;
    z-index: 20;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    box-shadow: 0 0 30px 0 #0000000f;
    padding: 50px 2%;
    min-height: 230px;
}

main .popup button {
    background-color: var(--Pink);
    border: none;
    padding: 20px 10%;
    color: white;
    font-weight: bold;
}
/*! END popup */
@media (min-width: 900px) {
    main {
        padding: 6%;
        align-items: center;
    }

    main section {
        text-align: left;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .grow figcaption,
    .users figcaption {
        order: -1;
    }

    main section figcaption p {
        padding: 0;
    }

    main section {
        padding: 3% 8%;
    }

    main .popup {
        width: 60%;
    }
}
/*? END main */

/** START footer */
footer {
    display: flex;
    flex-flow: column wrap;
    padding: 175px 25px 75px;
    background-color: var(--Very-Dark-Cyan);
    color: var(--Very-Pale-Cyan);
}

footer .logo {
    width: 25%;
    margin-bottom: 10px;
    filter: grayscale(1) invert(1) brightness(10);
    -webkit-filter: grayscale(1) invert(1) brightness(10);
}

footer .data {
    margin-bottom: 60px;
}

footer .data p {
    position: relative;
    margin: 20px 40px;
}

footer .data p::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: -40px;
    background-image: url(../images/icon-phone.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

footer .data p:first-child::before {
    background-image: url(../images/icon-location.svg);
}

footer .data p:last-child::before {
    background-image: url(../images/icon-email.svg);
}

footer .links div a {
    display: inline-block;
    width: 100%;
    /* background: red; */
    margin-bottom: 25px;
    color: var(--Very-Pale-Cyan);
    text-decoration: none;
}

footer .links div:last-child i {
    width: 40px;
    height: 40px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    color: var(--Very-Pale-Cyan);
    border: 1px solid var(--Very-Pale-Cyan);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

footer .links div:last-child i:hover {
    cursor: pointer;
    color: var(--Pink, pink);
    border-color: var(--Pink, pink);
}

footer .links div:last-child,
footer .foot {
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 900px) {
    footer {
        padding: 175px 25px 75px 5%;
    }
    footer .txt {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 20px;
    }
    footer .data {
        width: 40%;
    }
    footer .links {
        display: flex;
        justify-content: space-evenly;
        flex:1;
    }
    footer .foot {
        align-self: flex-end;
        justify-self: flex-end;
    }
}

/* *************************************** */
/*! START footer */
/* footer {
    padding-bottom: 10px;
    color: white;
    background-color: var(--Very-Dark-Blue);
} */

/* footer .logo {
    width: 50%;
    margin-bottom: 30px;
} */

/* footer .logo img {
    width: 100%;
    filter: invert(0.5) brightness(10);
    -webkit-filter: invert(0.5) brightness(10);
} */

/* footer .txt div {
    padding-bottom: 10px;
} */

/* footer .txt .contact,
footer .txt .links div {
    padding-bottom: 50px;
} */

/* footer .txt .contact .icon {
    margin-bottom: 10px;
} */

/* footer .txt .contact .icon img {
    margin-right: 10px;
    width: 20px;
} */

/* footer .links a {
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
    display: block;
} */

/* footer .links .social {
    text-align: center;
} */

/* footer .links .social i {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    border: 1px solid white;
    width: 40px;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */

/* footer .links i:hover {
    cursor: pointer;
    color: var(--Bright-Blue);
    border-color: var(--Bright-Blue);
} */

/* @media (min-width: 767px) {
    footer .logo {
        width: 20%;
    }
    footer .txt .links {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
} */

/** END footer */
